*{
    margin: 0px;
    padding: 0px;
}

body {
    background: #1d2342;
}
header{

    text-align: center;
}
.titulo{
    margin-top: 5em;
    color: white;
}

aside{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    background: #151932;

    width: 25%;
    margin-left: 37%;
    border-radius: 1em;

}
.menu {
    border-radius: 2em;
    font-size: 20px;
    padding: 0.8em;
    border: none;
    background: transparent;
    color: white;
}

.contenedor{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    height: 500px;

}
.circulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #151932;
    width: 450px;
    position: relative;
    height: 450px;
    border-radius: 100%;
    border:15px solid #1d2340;
    box-shadow: -12px -4px 41px 38px rgba(255,255,255,0.07);
    -webkit-box-shadow: -12px -4px 41px 38px rgba(255,255,255,0.07);
    -moz-box-shadow: -12px -4px 41px 38px rgba(255,255,255,0.07);


}

.preloader{
    position: absolute;
    animation-play-state: paused;
    bottom: 13px;
    right:12px;
    width: 90%;
    height: 90%;
    z-index: 1;
    border: 10px solid #1d2342;
    border-top:10px solid #f87072;

    border-radius: 50%;
    animation-name: girar;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
@keyframes girar {
    from {
        /** !*border-top: 10px solid ##f87072;/*/
    }
    /*35% {*/
    /*    !*border-left: 10px solid #f87072;*!*/

    /*}*/
    /*70% {*/
    /*    !*transform: rotate(180deg);*!*/
    /*    !*border-top: 10px solid #f87072;*!*/
    /*}*/
    to {
        border-top: 10px solid #f87072;
        transform: rotate(1turn);
        /*border-top: 10px solid #f87072;*/
        /*transform: rotate(360deg);*/
    }
}

#numero {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    z-index: 11;
}
.botonesCrono{
    background: none;
    font-size: 15px;
    margin-top: 3em;
    letter-spacing: 5px;
    color: white;
    border:none;
    z-index: 11;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 3333;
    padding-top: 100px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-contenedor {
    background-color: white;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #888;
    width: 30%;
    border-radius: 2em;
}
.aplicar{
    position: absolute;
    bottom: -20px;
    padding: 1em;
    border: none;
    border-radius:2em ;
    color: white;
    font-size: 15px;
    font-weight: bold;
    left: 220px;
    background: #f87072;
}
.close:hover {
    cursor: pointer;
    color: #888888;
}
.arriba {
    font-size: 38px;
    letter-spacing: 5px;
    margin-top: 0.5em;
    border-bottom: 1px solid grey;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

#inputContador{
    margin-left: 5em;

    padding-bottom: 2em;
    width: 100%;
}
.inputNumeros{
    margin-top: 1em;
    text-align: center;
    width: 15%;
    padding: 1em;
    border: none;
    background: whitesmoke;
    margin-left: 1em;
}

.labelText1 , .labelText2 , .labelText3{
    padding-top: 2em;
    margin-left: 2.8em;
    text-align: center;
}
.labelText1{
    margin-left: 1.5em;
}

.elegirColor , .elegirLetra {

    /*border-top: 1px solid grey;*/
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
}

#LInterval{
    margin-left: 5em;
}
/*.botonfons{*/

/*    border: none;*/
/*    padding: 0.5em;*/
/*    border-radius: 100%;*/
/*}*/
.botonColor{
    padding: 1em;
    border:none;
    border-radius: 100%;
}
