*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    z-index: 55;

  
}

header img {
    width: 5%;
    margin-right: 5em;
}

#contenedor{
   
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    position: relative;

}

.caja{
    margin: 1em;
    margin-left: 4em;
    width: 90%;
    height: 60px;
    border-radius: 20px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Editar , .Eliminar {
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.Editar{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 10px;
    border:none;
    background-color: #C5E4EB;
}

.Eliminar{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 3em;
    padding-right: 3em;
    margin-left:3em ;
    border:none;
    border-radius: 10px;
    background-color: red;
}

/* modal */

#mymodal{
   
    display: flex;
    align-items: center;
    justify-content: center;
    
    position:absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
}

#cajaModal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 50%;
    height: 300px;
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
}

.cerrar {
    position: absolute;
    top:7px;
    right: 35px;
    color:red;
    font-size: 20px;
    font-weight: bold;
}


input ,textarea{
    border-radius: 7px;
    padding: 0.4em;
    margin-top: 1em;
    resize: none;
}

.botonAñadir{
    width: 4%;
    margin: 1em;
    z-index: 2;
    position: absolute;
    bottom: 20px;
    right: 40px;
}


/* modal editar */

#mymodaleditar{
   
    display: none;
    align-items: center;
    justify-content: center;
   
    position:absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
}

#cajaModaleditar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #C5E4EB;;
    border-radius: 20px;
    width: 50%;
    height: 300px;
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
 
}


